body{
    background-color: mediumslateblue;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(26, 37, 37);
    margin: 0;
    padding: 0;
}

header{
    background-color: darkslategrey;
}

h1{
    color: rgb(26, 37, 37);
    font-size: 25px;
    text-align: center;
}

h2{
    font-size: 20px;
    text-align: left;
}

.container{
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.main-bio{
    float: left;
    width: 75%;
}

